:host {
  display: block;
  width: 100%;
  height: 100%;
}

.fc-three {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#canvasContainer {
  width: 100%;
  height: 100%;
  cursor: grab;
  touch-action: none;
}

#canvasContainer:active {
  cursor: grabbing;
}

#canvasContainer canvas {
  display: block;
  width: 100%;
  height: 100%;
}